/*header*/

.header {
    width: 45%;
    margin-left: 27%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
}


.targetNum {
    width: 15%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin: 4% 0 0 43%;
    font-size: 4em;
}

.crystal-array {
    text-align: center;
    background-color: silver;
    border: 2px solid dodgerblue;
    width: 50%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 3% 0 0 25%;
}

.crystal-array {
    height: 150px;
    width: 1000px;
    border: 10px solid;
    margin: 0 2% 0 3%;
}

.Rose {
    border-top-color: #ec70aa;
    border-right-color: #ec70aa;
    border-bottom-color: #f10b63;
    border-left-color: #f10b63;
    background-color: #f10b63;
}

.Jade {
    border-top-color: #66dc00;
    border-right-color: #66dc00;
    border-bottom-color: #006600;
    border-left-color: #006600;
    background-color: #239900;
}

.Quartz{
    border-top-color: #606e7a;
    border-right-color: #606e7a;
    border-bottom-color: rgb(189, 192, 194);
    border-left-color: rgb(214, 206, 206);
    background-color: #b8b7b7;
}

.Amethyst {
    border-top-color: #ff00c8;
    border-right-color: #ff00c8;
    border-bottom-color: #8a066d;
    border-left-color: #8a066d;
    background-color: #8a066d;
}

.userScore {
    float: left;
    position: relative;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    font-size: 3em;
    width: 26%;
    margin: 2% 0 0 22%;
    padding-bottom: 12px;
}

.wins-loses {
    float: right;
    position: relative;
    text-align: center;
    width: 26%;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin-top: 2%;
    margin-right: 20%;
    font-size: 1.5em;
}

.footer {
    width: 26%;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 33% 0 0 36%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;}

/*768px*/

@media (max-width: 768px) {

    .random-number {
        margin-top: 3%;
    }

    .crystal-array {
       margin-right: -1%;
    }

    .crystal-array:nth-child(4) {
        margin-right: 8px;
    }

    .footer {
        margin-top: 37%;
    }

}

/*640px*/

@media (max-width: 640px) {

    .crystal-array {
       width: 64%;
       margin-left: 19%
    }

    .footer {
        width: 43%;
        margin-top: 52%;
        margin-left: 29%;
    }
}

/*375px*/

@media (max-width: 375px) {

    .header {
        width: 91%;
        margin-left: 2%;
    }

   .randomNum {
       width: 32%;
       margin-left: 32%;
   }

   .crystal-array {
      width: 92%;
      margin-left: 4%;
   }

   .crystal {
       height: 70px;
       width: 70px;
   }

   .total-score {
       margin-left: 8%;
       width: 35%;

   }

   .wins-loses {
       width: 34%;
       margin-right: 9%;
   }

   .footer {
       margin-top: 104%;
       margin-left: 17%;
       width: 60%;
   }
}